body, html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Thinner font */
    background-color: #f4f4f4;
    color:

#333;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #2a2a2a;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.logo h1 {
    margin: 0;
    font-weight: 300; /* Thinner weight for the overall font */
    font-size: 24px;
}

.logo h1 strong {
    font-weight: bold; /* Bolder weight for the last name */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;  /* Adjust size as needed */
    width: auto;  /* Maintain aspect ratio */
    margin-right: 10px;  /* Space between the icon and the name */
}

.content-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}

.personal-info {
    width: 300px; /* Adjust width as needed */
    margin-right: 40px; /* Space between the two columns */
}

.profile-img {
    width: 100%; /* Full width of the personal-info section */
    height: auto; /* Maintain aspect ratio */
    border-radius: 150px; /* Circular image */
}

.personal-info h2, .personal-info p, .contact-info {
    margin: 10px 0; /* Vertical spacing */
}

.icon {
    height: 25px; /* Fixed size for icons */
    width: auto;
    vertical-align: middle; /* Align icon with text */
    margin-right: 5px; /* Space between icon and text */
}

.contact-info a {
    margin-right: 0; /* No right margin for links */
    display: inline; /* Inline display for alignment */
    padding: 5px;
}

.social-link {
    display: flex;
    /*justify-content: center; */
    align-items: center;
    width: 100%; /* Takes full width to allow centering */
    margin: 10px 0;
}

.social-link a {
    display: inline-flex; /* Use inline-flex to align the icon nicely */
    align-items: center; /* Center align the icon vertically within the link */
    margin: 0 5px; /* Spacing between icons */
}

.social-link img {
    margin-right: 10px; /* Space between icon and text */
}

.about-me {
    flex-grow: 1; /* Take remaining space */
    max-width: 600px; /* Max width to control line length */
}

.about-me p {
    text-align: justify; /* Justified text for a cleaner look */
}

.what-im-reading {
    width: 900px; /* Adjust width as needed */
    margin-right: 40px; /* Space between the two columns */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}

.what-im-reading p {
    text-align: justify
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

footer p {
    margin: 0;
}

@media (max-width: 768px) {
    .introduction {
    flex-direction: column;
    text-align: center;
    }

    .profile-img {
        margin-bottom: 20px;
    }
}

.research-section {
    padding: 20px;
    margin: 40px 60px; /* Increased margin to the webpage border */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content horizontally in the flex container */
}

.research-item {
    background-color: #f4f4f4;
    display: flex;
    align-items: flex-start; /* Adjusts vertical alignment */
    justify-content: center; /* Centers content horizontally */
    max-width: 1200px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.image-container {
    flex: 0 0 150px; /* Fixed width for the image container */
    display: flex;
    align-items: center; /* Center image vertically */
    justify-content: center; /* Center image horizontally */
    height: auto; /* Height adjusts to content */
    padding: 10px;
}

.paper-img {
    max-width: 100%; /* Ensures image does not overflow its container */
    max-height: 100%; /* Ensures image does not overflow its container */
    height: auto; /* Allows image to scale in proportion */
    width: auto; /* Allows image to scale in proportion */
    object-fit: contain; /* Ensures the image is fully visible without cropping */
    border: 2px solid #ccc; /* Adds a light grey border */
    box-sizing: border-box; /* Ensures the border is included in the element's total width and height */
}

.research-details {
    flex-grow: 1; /* Allows the details container to take up the remaining space */
    padding-left: 20px; /* Adds some space between the image and the text */
    }

.research-details h3, .research-details p, .research-details a {
    text-align: left; /* Ensures text alignment is consistent */
    margin: 5px 0; /* Standardizes margin for all elements in details */
    margin-bottom: 10px; /* Adds space between the details and the next item */
    }

.research-details p {
    max-width: 95%;
    text-align: justify; /* Justifies text */
    text-justify: inter-word; /* Improves spacing between words */
}

.course-section {
    padding: 20px;
    margin: 40px 60px; /* Increased margin to the webpage border */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content horizontally in the flex container */
}

.course {
    margin: 20px;
    max-width: 1200px;
    margin-top: 20px;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #f4f4f4;
}

.course h3 {
    margin-top: 0;
    color: #333;
}

.course p {
    padding-left: 20px;
    padding-right: 30px;
    /* max-width: 95%; */
    font-size: 16px;
    /* color: #666;*/
    margin-bottom: 20px;
    text-align: justify; /* Justifies text */
    text-justify: inter-word; /* Improves spacing between words */
}

.slides-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Space between thumbnails */
}

.slide-thumb {
    width: 200px; /* Adjust based on desired thumbnail size */
    height: auto;
    border: 1px solid #ccc; /* Light border for thumbnails */
    transition: transform 0.3s ease;
}

.slide-thumb:hover {
    transform: scale(1.05); /* Slight zoom on hover */
}

.coauthor-hlink {
    color: blue;
    text-decoration: underline; 
}

.coauthor-hlink:hover {
    text-decoration: underline; /* Adds underline on hover */
}

.paper-hlink {
    color: #2a2a2a;
}

.paper-hlink:hover {
    text-decoration: underline; /* Adds underline on hover */
}

.button {
    color: #2a2a2a;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid #2a2a2a;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px; /* Adds a small space between the two links */
}

.button:hover {
    background-color: #2a2a2a;
    color: white;
}
