body, html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Thinner font */
    background-color: #f4f4f4;
    color:

#333;
}

.container {
display: flex;
flex-direction: column;
min-height: 100vh;
}

header {
background-color: #2a2a2a;
color: white;
padding: 20px;
display: flex;
justify-content: space-between;
align-items: center;
}

nav ul {
list-style-type: none;
display: flex;
}

nav ul li {
margin-left: 20px;
}

nav ul li a {
color: white;
text-decoration: none;
font-weight: bold;
}

.logo h1 {
margin: 0;
font-weight: 300; /* Thinner weight for the overall font */
font-size: 24px;
}

.logo h1 strong {
font-weight: bold; /* Bolder weight for the last name */
}

.job-title {
font-weight: 300;
font-size: 18px; /* Smaller and thinner font for job title /
margin-left: 10px; / Small gap between name and job title */
}

.main {
flex-grow: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
}

.introduction {
display: flex;
align-items: center;
justify-content: center;
margin-top: 20px;
background-color: white;
padding: 20px;
border-radius: 8px;
box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.profile-img {
width: 150px;
height: 150px;
border-radius: 75px;
margin-right: 20px;
}

.introduction div h2 {
margin: 0 0 10px 0;
color: #333;
font-weight: 300; /* Consistent thin font styling */
}

.introduction div h2 strong {
font-weight: bold; /* Emphasis on the last name */
}

.introduction div p {
margin: 0;
font-size: 18px;
color: #555;
}

.social-links {
text-align: center;
margin-top: 20px;
}

.social-links a {
margin-right: 15px;
text-decoration: none;
color: #2a2a2a;
font-size: 16px;
border: 2px solid #2a2a2a;
padding: 10px 15px;
border-radius: 5px;
transition: background-color 0.3s, color 0.3s;
}

.social-links a:hover {
background-color: #2a2a2a;
color: white;
}

footer {
background-color: #333;
color: white;
text-align: center;
padding: 10px 0;
margin-top: auto;
}

footer p {
margin: 0;
}

@media (max-width: 768px) {
.introduction {
flex-direction: column;
text-align: center;
}

.profile-img {
    margin-bottom: 20px;
}

}


.research-section {
    padding: 20px;
    margin: 40px 60px; /* Increased margin to the webpage border */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content horizontally in the flex container */
}


.research-item {
    display: flex;
    align-items: flex-start; /* Adjusts vertical alignment */
    justify-content: center; /* Centers content horizontally */
    max-width: 1200px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.image-container {
    flex: 0 0 150px; /* Fixed width for the image container */
    display: flex;
    align-items: center; /* Center image vertically */
    justify-content: center; /* Center image horizontally */
    height: auto; /* Height adjusts to content */
    padding: 10px;
}

.paper-img {
    max-width: 100%; /* Ensures image does not overflow its container */
    max-height: 100%; /* Ensures image does not overflow its container */
    height: auto; /* Allows image to scale in proportion */
    width: auto; /* Allows image to scale in proportion */
    object-fit: contain; /* Ensures the image is fully visible without cropping */
    border: 2px solid #ccc; /* Adds a light grey border */
    box-sizing: border-box; /* Ensures the border is included in the element's total width and height */
}

.research-details {
    flex-grow: 1; /* Allows the details container to take up the remaining space */
    padding-left: 20px; /* Adds some space between the image and the text */
    }

.research-details h3, .research-details p, .research-details a {
    text-align: left; /* Ensures text alignment is consistent */
    margin: 5px 0; /* Standardizes margin for all elements in details */
    margin-bottom: 10px; /* Adds space between the details and the next item */
    }

.research-details p {
    max-width: 95%;
    text-align: justify; /* Justifies text */
    text-justify: inter-word; /* Improves spacing between words */
}

.research-details a {
    color: #2a2a2a;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid #2a2a2a;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px; /* Adds a small space between the two links */
}

.research-details a:hover {
    background-color: #2a2a2a;
    color: white;
}

.course-section {
    padding: 20px;
    margin: 40px 60px; /* Increased margin to the webpage border */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content horizontally in the flex container */
}

.course {
    margin: 20px;
    max-width: 1200px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.course h3 {
    margin-top: 0;
    color: #333;
}

.course p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.slides-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Space between thumbnails */
}

.slide-thumb {
    width: 200px; /* Adjust based on desired thumbnail size */
    height: auto;
    border: 1px solid #ccc; /* Light border for thumbnails */
    transition: transform 0.3s ease;
}

.slide-thumb:hover {
    transform: scale(1.05); /* Slight zoom on hover */
}

.course a {
    color: #2a2a2a;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid #2a2a2a;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px; /* Adds a small space between the two links */
}

.course a:hover {
    background-color: #2a2a2a;
    color: white;
}