/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
}

/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 300px;
}

.logo {
    font-size: 1.3rem;
}

.logo img {
    width: 50px;
}


nav a {
    text-decoration: none;
    color: #555;
    margin-left: 20px;
    /* border: 2px solid #555;
    padding: 5px 15px;
    border-radius: 25px; */
}

nav a.download-cv-button {
    border: 2px solid #3f6ab0;
    padding: 5px 15px;
    border-radius: 25px;
    color: #3f6ab0;
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a.download-cv-button:hover {
    background-color: #3f6ab0;
    color: #fff;
}

/* Main Section */
.main {
    text-align: center;
    padding: 150px 20px;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
    color: #666;
}

.profile-pic {
    margin-top: 50px;
    width: 250px;
    border-radius: 50%;
}

.devices {
    margin-top: 60px;
    margin-bottom: -161px;
}

.devices img {
    width: 100%;
    max-width: 800px;
}


/* Introduction Section */
.about {
    background-color: #3f6ab0;
    color: white;
    padding-top: 100px;
    padding-bottom: 170px;
    position: relative;
    z-index: 1;
    text-align: center;
}

.about h2 {
    font-size: 2rem;
}

.about p {
    font-size: 1.1rem;
    color: #ffffff;
    margin-top: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* Cards Section */
.cards {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    max-width: 80%; /* Decrease the total width of the card section */
    margin: -150px auto 0 auto; /* Negative margin to overlap with .about section */
    position: relative;
    z-index: 2;
}

.card {
    background: white;
    padding: 20px;
    border: 1px solid #bebebe; /* Add a border instead of shadow */
    flex: 1;
    text-align: center;
    position: relative;
    margin-left: -1px; /* Ensures that the borders of cards touch */

    min-height: 450px; /* Set a minimum height for each card */
    display: flex;
    flex-direction: column; 
}

/* Additional Card Styling */
.card:first-child {
    border-radius: 20px 0 0 20px; /* Round the left side only */
}

.card:last-child {
    border-radius: 0 20px 20px 0; /* Round the right side only */
}

.card ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

/* Middle card (no border-radius) */
.card:not(:first-child):not(:last-child) {
    border-radius: 0; /* No border-radius for middle cards */
}


.icon img {
    width: 90px; /* Adjust the size as needed */
    height: auto; /* Maintain aspect ratio */
    display: inline-block;
    margin-bottom: 20px; /* Add space between the icon and the heading */
    margin-top: 30px;
    margin-bottom: 30px;
}

.card p {
    margin-top: 10px;
    margin-bottom: 20px;
}

.card ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.card ul li {
    margin-bottom: 5px; /* Adds spacing between each list item */
    font-size: 1.1rem;   /* Slightly larger text */
}

.card ul li span {
    display: block;
    color: #3f6ab0;      /* Make the category label purple */
    font-weight: bold;   /* Bold for emphasis */
    margin-bottom: 5px;  /* Adds spacing between the label and the text */
    margin-top: 20px;    /* Add space between the header and the text above */
}

/* Nested list for tools */
.second-list {
    list-style: none;
    padding-left: 0;
    text-align: center;
    margin-bottom: 40px;
}

.second-list li {
    margin-bottom: 5px;
}

/* Get in Touch Section */
.get-in-touch {
    text-align: center;
    padding: 100px 20px;
    background-color: #fff;
    color: #333;
}

.get-in-touch h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.get-in-touch p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 30px;
}

.get-in-touch .button {
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid #3f6ab0;
    border-radius: 30px;
    color: #3f6ab0;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.get-in-touch .button:hover {
    background-color: #3f6ab0;
    color: #fff;
}

/* Footer Section */
.footer {
    text-align: center;
    padding: 80px 20px;
    background-color: #3f6ab0;
    color: white;
}

.footer-logo img {
    width: 60px;
    margin-bottom: 20px;
}

.footer p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.footer .social-icons {
    margin-bottom: 20px;
}

.footer .social-icons a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.5rem;
    margin: 0 10px;
    text-decoration: none;
}

.footer .footer-text {
    font-size: 0.9rem;
    margin-bottom: 0px;
}

.footer .footer-made-with {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: -50px; /* Adjust margin */
}

/* Additional Styling */
.footer .social-icons a:hover {
    color: #ccccff;
}


.icon-tooltip {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the element */
    left: 50%;
    transform: translateX(-50%); /* Center the tooltip */
    width: 160px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.9rem;
}

.icon-tooltip:hover .tooltip, .footer-text:hover .tooltip {
    visibility: visible;
    opacity: 1;
}


.icon-tooltip, .footer-text {
    position: relative;
    display: inline-block;
}

.footer-text:hover .tooltip {
    visibility: visible;
    opacity: 1;
}






/* Research Section */
.research-section {
    padding: 60px 0;
    background-color: white;
}

.research-section h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 50px;
    color: #3f6ab0;
}

/* Research Items */
.research-item {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.research-item img.paper-img {
    width: 300px; /* Adjust to fit the layout */
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.research-details {
    flex-grow: 1;
}

.research-details h3 {
    font-size: 1.8rem;
    color: #3f6ab0;
    margin-bottom: 10px;
}

.research-details p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #666;
}

.research-details p strong {
    font-weight: bold;
    color: #3f6ab0;
}

.research-details a.coauthor-hlink {
    color: #3f6ab0;
    text-decoration: none;
}

.research-details a.coauthor-hlink:hover {
    text-decoration: underline;
}

/* Buttons */
.research-details .button {
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid #3f6ab0;
    border-radius: 30px;
    color: #3f6ab0;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.research-details .button:hover {
    background-color: #285080;
    color: #fff;
}


/* Course Section */
.course-section {
    padding: 60px 0;
    background-color: white;
}

.course-section h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 50px;
    color: #3f6ab0;
}

.course {
    background: white;
    padding: 20px;
    margin-bottom: 50px;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Course Title */
.course h3 {
    font-size: 2rem;
    color: #3f6ab0;
    margin-bottom: 20px;
}

/* Course Descriptions */
.course p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #666;
}

.course p strong {
    font-weight: bold;
    color: #3f6ab0;
}

.course a.coauthor-hlink {
    color: #3f6ab0;
    text-decoration: none;
}

.course a.coauthor-hlink:hover {
    text-decoration: underline;
}

.course .button {
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid #3f6ab0;
    border-radius: 30px;
    color: #3f6ab0;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.course .button:hover {
    background-color: #285080;
    color: #fff;
}


/* Slide Gallery */
.slides-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.slides-gallery a {
    display: block;
}

.slides-gallery img.slide-thumb {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.slides-gallery img.slide-thumb:hover {
    transform: scale(1.05); /* Slight zoom effect */
}