<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- <link rel="stylesheet" href="index.css"> -->
	        <!-- <link rel="stylesheet" href="basic.css"> -->
		</head>
		<body>
			<div class="masterlayout">
				<div class="header">
                	<div> <p>LPUPP</p></div>
                	<div> <p>This is my website. In my website I have a header</p></div>
            	</div>
				<div class="navigation">
			       <a href="/">Home</a>
				   <a href="/about">About</a>
				   <a href="/research">Research</a>
				   <a href="/teaching">Teaching</a>
				   <a href="/misc">misc</a>
				   <a href="/cv">CV</a>
				   <a href="/books">Books</a>
				   <a href="/about_you">About you</a>
			    </div>
				<div class="container">

				{{ content }}

				</div><!-- /.container -->
				<div class="footer">
					<div><a href="mailto:lpupp_git@gmail.com">email</a></div>
	        		<div><a href="https://github.com/lpupp">github.com/lpupp</a></div>
				</div>
			</div>
		</body>
	</html>
